# Node modules and logs
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log
../node_modules/


# Logs
logs/
*.log

# Python
delta_env/
*.pyc
__pycache__/

# Environment variables
frontend/.env
backend/.env

# Ignore specific files
.DS_Store
.idea/
.vscode/
package.json
package-lock.json